<template name="tonejsTest">
  <form class="main form">
      <h3>tonejsTest</h3>

      <button type="button" name="button" class="o">o</button>
      <br><br>

      <!-- <button type="button" name="button" class="t">o</button> -->
      <!-- <input type="checkbox" name="" value="" class="t"> -->
      <input type="text" name="" value="60" id="bpm">
      <input type="checkbox" class="t">
      <br>
      <span id="second"></span>
      <br>
      <span id="time"></span>

      <br><br>
      <button type="button" name="button" id="synthA">A</button>
      <button type="button" name="button" id="synthB">B</button>
      <button type="button" name="button" id="chord">chord</button>

  </form>
</template>
